.card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 32px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255,255,255,0.2);
}

.card::-webkit-scrollbar {
  display: none;
}

.timelineLine {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  gap: 32px;
  position: relative;
}

/* .timelineLine::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 2px;
  background-color: rgba(0,0,0,0.05);
  z-index: 0;
} */

.eventWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 60px; /* 丸・年のスペース */
  position: relative;
}

.eventWrapperEnd {
  display: flex;
  flex-direction: column;
  padding-left: 60px; /* 丸・年のスペース */
  position: relative;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.05);
  position: absolute;
  left: 12px;
  top: 0;
  transition: transform 0.3s ease;
  z-index: 1;
}

.eventWrapper:hover .circle {
  transform: scale(1.2);
}

.eventWrapper::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100px;
  background-color: rgba(0,0,0,0.05);
}

.year {
  font-size: 0.75rem;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 4px;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0;
}