.card {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 20px;
  padding: 32px;
  border-radius: 16px;

  transition: transform 0.4s cubic-bezier(0.2,0,0,1),
              box-shadow 0.4s ease;
}

.glass {
  backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}

.none {
  backdrop-filter: none;
  border: none;
  box-shadow: none;
}

ul{
    padding: 0;
}

.item {
  list-style: none;
  margin-bottom: 16px;
  transition: transform 0.3s ease;
  /* border-top: 1px solid rgba(255, 255, 255, 0.3); */
}

.item:hover {
  transform: translateX(10px);
}

.check {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  position: relative;
  top: 3px;   /* ← ここで下げる（1〜4pxくらいで調整） */
}