.wrapper {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.cardWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%; /* 適宜調整 */
}

.pageWrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

@media (max-width: 768px) {
  .pageWrapper {
    flex-direction: column;
  }
}

.card {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.fadeOut {
  opacity: 0;
  transform: translateY(-20px);
}