/* =====================================================
   wrapper
   ===================================================== */

.wrapper {

  /* 大きさ設定 */
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  /* 要素配置設定 */
  display: flex;
  flex-direction: column;

  /* 余白設定 */
  margin: 0;

  /* 配置基準設定 */
  position: relative;

}



/* =====================================================
   Slide Wrapper
   ===================================================== */

.cardWrapper {

  /* 大きさ設定 */
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  /* 要素配置設定 */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 配置基準設定 */
  position: relative;

}



/* =====================================================
   Page
   ===================================================== */

.MainCard {

  /* 大きさ設定 */
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  /* 余白設定 */
  padding: 10px 20px 10px 20px;
  gap: 20px;

  /* 要素配置設定 */
  display: flex;
  flex-direction: column;

}



/* =====================================================
   SubCards container
   ===================================================== */

.SubCards {

  /* カード間隔 */
  gap: 20px;

  /* 横並び */
  display: flex;
  flex-direction: row;

  /* 残り高さを使う */
  flex: 1;

  box-sizing: border-box;
}



/* =====================================================
   SubCard wrapper
   ===================================================== */

.SubCardWrapper {

  /* 要素配置設定 */
  display: flex;
  flex-direction: column;

}



/* =====================================================
   Animation helper
   ===================================================== */

.card {

    /* アニメーション設定 */
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.fadeIn {

  /* アニメーション設定 */
  opacity: 1;
  transform: translateY(0);

}

.fadeOut {

  /* アニメーション設定 */
  opacity: 0;
  transform: translateY(-20px);

}



/* =====================================================
   Responsive
   ===================================================== */

@media (max-width: 768px) {

  .SubCards {

    /* 要素配置設定 */
    flex-direction: column;

  }

}



/* =====================================================
   Font
   ===================================================== */

@font-face {

  /* 文字設定 */
  font-family: "JKGothic";

  /* 画像設定 */
  src: url("/Data/Fonts/JKG-L_3.ttf") format("truetype");

  /* 文字設定 */
  font-weight: 100;
  font-style: normal;
  font-display: swap;

}