.card {
    /* 大きさ設定 */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* 要素配置設定 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 余白設定 */
    padding: 32px;
    /* 装飾設定 */
    border-radius: 16px;
}