.wrapper {
  position: absolute;
  top: 40px;
  z-index: 100;

  pointer-events: none;
}

.left {
  left: 60px;
  text-align: left;
}

.center {
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.right {
  right: 60px;
  text-align: right;
}

.wrapper h1 {
  font-size: clamp(32px, 4vw, 56px);
  font-weight: 700;

  background: linear-gradient(90deg, #60a5fa, #a78bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin: 0;
}